#main-container{
    background-color: rgb(44, 44, 44);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: rgb(44, 44, 44);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
#gameCanvas{
    display: none;
}
#gameOver{
    display: none;
}
#characterSelect{
    display: none;
}
#characterSelect h1{
    color:whitesmoke;
    text-align: center;
}
.gameUI{
    color:whitesmoke;
}

#characterOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#characterOptions button{
    margin: 1em;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 10px;
}
#gameStart button{
    font-size: 2em;
    padding: 0.5em;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    cursor: pointer;
}
#ready{
    display: none;
}
#resourceList{
    margin-right: 3em;
    border: 1px solid whitesmoke;
    padding: 1em;
    border-radius: 10px;
    width: calc(15*16px);
    height: 40vh;
    overflow-y: scroll;
    background-color: rgba(26, 26, 26, 0.579);
}
#resourceList::-webkit-scrollbar{
    background-color: rgba(26, 26, 26, 0);
    border-radius: 10px;
}
#resourceList::-webkit-scrollbar-thumb{
    background-color: rgba(245, 245, 245, 0.363);
    border-radius: 10px;
}
#resourceList h2{
    color: whitesmoke;
    text-align: center;
}
#resourceList p{
    font-size: 1.5em;
    padding: 0.5em;
}
#game-container{
    display: none;
    justify-content: center;
    align-items: center;
}
#resourceList p:hover{
    cursor: pointer;
    background-color: rosybrown;
    color: black;
}
#chatMessages{
    height: 30vh;
    width: calc(40*16px);
    overflow-y: scroll;
    background-color: rgb(63, 143, 248);
}
#chatMessages p{
    margin: 2px;
    padding: 0.5em;
    background-color: rgba(26, 26, 26, 0.579);
}
#chatInput{
    width: calc(30*16px);
}
#sendChat{
    width: calc(9*16px);
}
